.places__card-website-url {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 2px;

    color: #AAAAAA;
}


@media screen and (max-width: 768px) {
    .places__card-website-url {
        line-height: 1;
    }
}
