.lead__title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    
}

@media screen and (max-width: 680px) {
    .lead__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        width: 288px;
    }
}



