.footer__links {
    text-align: left;
    text-decoration: none;
}

@media screen and (max-width: 490px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}