.places__card-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    margin: 0;
}

.places__card-paragraph:nth-child(2) {
    margin-top: 27px;
}

@media screen and (max-width: 768px) {
    .places__card-paragraph {
        font-size: 16px;
        line-height: 1.63;
    }
    .places__card-paragraph:nth-child(2) {
        margin-top: 25px;
    }
}

@media screen and (max-width: 320px) {
    .places__card-paragraph {
        font-size: 16px;
        line-height: 1.63;
    }
}