.places__card {
    display: grid;
    grid-template-columns: calc((100%/2) - 40px) 1fr;
    gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .places__card {
        display: grid;
        grid-template-columns: calc((100%/2) - 32px) 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .places__card {
        display: grid;
        grid-template-columns: calc((100%/2) - 28px) 1fr;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 320px) {
    .places__card {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
}