.place {
    display: grid;
    grid-template-columns: minmax(350px, 460px) minmax(350px, 484px);
    gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
    .place {
        display: grid;
        grid-template-columns: minmax(300px, 440px) minmax(250px, 456px);
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        display: grid;
        grid-template-columns: minmax(250px, 340px) minmax(250px, 352px);
        gap: 48px 28px;
    }
}

@media screen and (max-width: 600px) {
    .place {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}